In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, roc_auc_score, confusion_matrix

#### Data reading and processing

In [3]:
heart = pd.read_csv('heart.csv')

In [4]:
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
heart.shape

(303, 14)

In [6]:
#statistical description of the data
heart.describe()  #also used to detect outliers

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [7]:
heart.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [8]:
#to check the total number of duplicate rows
heart.duplicated().sum()

1

In [9]:
heart[heart.duplicated()]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
164,38,1,2,138,175,0,1,173,0,0.0,2,4,2,1

In [10]:
#to drop the duplicate
heart.drop_duplicates(inplace = True)

In [11]:
heart.duplicated().sum()

0

In [13]:
#to check whether data is balanced or not
heart['target'].value_counts()

1    164
0    138
Name: target, dtype: int64

#### Spltting the input and output columns

In [14]:
X = heart.drop(columns = 'target')
y = heart['target']

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.15, stratify = y, random_state = 42)

#### Standardization of the data

In [16]:
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [17]:
from sklearn.preprocessing import StandardScaler

In [18]:
scaler = StandardScaler()

In [19]:
X_train = scaler.fit_transform(X_train)

In [20]:
X_test = scaler.transform(X_test)

In [ ]:
X_train[['age', 'trestbps', 'chol', 'thalach']] = scaler.fit_transform(X_train[['age', 'trestbps', 'chol', 'thalach']])

In [ ]:
X_test[['age', 'trestbps', 'chol', 'thalach']] = scaler.transform(X_train[['age', 'trestbps', 'chol', 'thalach']])

#### Model Training : Logistic Regression

In [21]:
log_reg = LogisticRegression()

In [22]:
log_reg.fit(X_train, y_train)

LogisticRegression()

#### Model Evaluation

In [23]:
y_pred = log_reg.predict(X_test)

In [24]:
accuracy_score(y_test, y_pred)

0.7391304347826086

In [25]:
confusion_matrix(y_test, y_pred)

array([[13,  8],
       [ 4, 21]], dtype=int64)

In [26]:
from sklearn.metrics import precision_score, recall_score

In [27]:
precision_score(y_test, y_pred)

0.7241379310344828

In [29]:
recall_score(y_test, y_pred)

0.84

- **Precision**: Appropriate when minimizing false positives is the focus.
- **Recall**: Appropriate when minimizing false negatives is the focus.